---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="page_heading" >Welcome to the Homework Homepage </h1>
<h3 class="page_description">Hover over to the Assignment tab to check out some of the awesome lessons learned </h3>