---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week 7</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="/styles/x.js"></script>
</head>
<body>
  <div class="navbar">
  <img id="logo" src="/images/Panda.svg" alt="Company Logo of Panda using Computer"></img>
    <nav>
      <ul>
        <li><a href="/"></li>
        <li><a href=""></li>
      <ul>
    </nav>
  </div>

    {{ content }}
</body>
</html>