  <nav>
  <img src="/images/Panda.svg" id=Panda>
    <ul class="first_layer_list">
      <li class="first_list_item"><a href="/" title="Go home">Home</a></li>
        <div class="assignment_second_list">
            <li class="first_list_item">Assignments<button class="dropbtn"><i class="fa fa-caret-down"></i></button></li>
                <ul class="second_list">
                    <li><a href="/Assignments/Week_7_Assignment/" title="Assignment">Week 7 Main</a></li>
                    <li><a href="/Assignments/AIEX/">Week 7 AI-Ex</a></li>
                    <li><a href="/Assignments/Week_8_Assignment/">Week 8</a></li>
                    <li><a href="#">Week 9</a></li>
                </ul>
        </div>
      <li class="first_list_item"><a href="/AIEX/" title="AIEX">About</a></li>
    </ul>
  </nav>

