body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 70vw;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

img.about {
    opacity: 0.5;
}
#Sam {
    width: 20vw;
    background-color: whitesmoke;
}

.oj{
    width: 25vw;
    background-color: rgb(153, 153, 153);
    height:25vw;
    border-radius: 20px;
    margin-bottom: 5vh;
}

#product_page{
    display: flex;
    justify-content: space-evenly;


}

.page_heading{
    font-size: 4em;
    margin-bottom: 20px;
}

#purple{
    background-color: seashell;
    color: black;
    border-radius: 10px;
    width: 25vw;
}

.page_description{
    font-size: 1.5em;
    margin-bottom: 2vh;
}
#AIEX{
    display: flex;
    justify-content: space-evenly;
}
.AIEX_img{
    max-width: 50vw;
    max-height: 30vh;
    margin:20px;
}